html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Ubuntu, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

:root {
  --background-primary: #3a2683;
  --background-secondary: #222745;
  --background-terceary: #282a36;
  --background-primary-lighter: #5638c2;

  --text-primary: #f5f5f5;
  --link-primary: #e81088;

  --border-primary: #282e52;
}
